body {
  margin: 0;
  padding: 0;
  background-color: floralwhite;
  font-family: 'Nunito', sans-serif;
  line-height: 1.4;
  font-size: 15px;
}

.container {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.loading-area {
  text-align: center;
}

.loading-text {
  -webkit-animation: flash 600ms alternate infinite;
  animation: flash 600ms alternate infinite;
  opacity: 0;
  font-weight: bold;
  font-size: 18px;
}

.pt-spinner {
  margin: 40px 0;
}

.pt-card {
  margin: 20px 0;
}

.pokemon {
  border-left: 10px solid;
  padding: 20px;
  margin-top: 20px;
}

.pokemon-name {
  font-weight: bold;
  text-transform: uppercase;
}

.form-area {

}

.pt-button {
  margin-top: 20px;
}

label {
  margin-top: 10px;
}

.add-new {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  background-color: coral;
  color: white;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}

.form-area {
  background-color: white;
  padding: 30px;
  position: fixed;
  bottom: 0px;
  right: 100px;
  width: 400px;
  max-width: 80vw;
}


@-webkit-keyframes flash {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes flash {
  0% {opacity: 0;}
  100% {opacity: 1;}
}