body {
  margin: 0;
  padding: 0;
  background-color: floralwhite;
  font-family: 'Nunito', sans-serif;
  line-height: 1.4;
  font-size: 15px;
}

.container {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.loading-area {
  text-align: center;
}

.loading-text {
  -webkit-animation: flash 600ms alternate infinite;
  animation: flash 600ms alternate infinite;
  opacity: 0;
  font-weight: bold;
  font-size: 18px;
}

.pt-spinner {
  margin: 40px 0;
}

.pt-card {
  margin: 20px 0;
}

.nest-pokemon .pokemon-name {
  font-weight: bold;
  text-transform: capitalize;
}


@-webkit-keyframes flash {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes flash {
  0% {opacity: 0;}
  100% {opacity: 1;}
}